#version=RHEL8
ignoredisk --only-use=sda
# Partition clearing information
clearpart --none --initlabel
# Use graphical install
graphical
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8
# Network information
network  --bootproto=dhcp --device=ens192 --ipv6=auto --activate
network  --hostname=localhost.localdomain
#Repo
#url --url=http://mirror.centos.org/centos/7/os/x86_64/
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
# Root password
rootpw packerbuilt!
# Run the Setup Agent on first boot
firstboot --disable
# Eula
eula --agreed
# Do not configure the X Window System
skipx
# Disable Firewall
firewall --disabled
# Selinux permissive
selinux --permissive
# System services
services --enabled="chronyd,sshd"
# System timezone
timezone America/New_York --isUtc
# Disk partitioning information
part / --fstype="xfs" --ondisk=sda --size=20000 
reboot
user --name=packerbuilt --plaintext --password=packerbuilt! --groups=wheel

%packages
@^minimal-environment
kexec-tools
sudo
net-tools
vim
wget
curl
cloud-init
cloud-utils-growpart

# unnecessary firmware
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6050-firmware
-libertas-usb8388-firmware
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post
#yum update -y

fallocate -l 2G /.swap
chmod 0600 /.swap
mkswap /.swap
echo '/.swap    swap    swap    default    0   0' >> /etc/fstab

sed "s/^ssh_pwauth.*/ssh_pwauth: True/g" -i /etc/cloud/cloud.cfg
sed "s/PasswordAuthentication no/PasswordAuthentication yes/g" -i /etc/ssh/sshd_config
echo "packerbuilt ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/packerbuilt
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers

#yum clean all
%end
